<!DOCTYPE html>
{% extends 'partials.html' %}

{% block content %}

    <main role="main">

        <h1 class="text-center pt-3">Welcome To Yuvant's Blog page</h1>
        <br>
        <div class="container">
            <h3>Latest Posts</h3>
            <hr>
        </div>

        {% for blog in Blogs.all %}
        <div class="container">

            <h4> {{ blog.Title }}</h4>
            <p> {{ blog.publication_date }}</p>
            <h5> {{ blog.SummaryOfBlog }}...<a href="{% url 'full-blog' blog.id %}">read more</a></h5>
        </div>
        <br>
        {% endfor %}
       
    </main>

    {% endblock %}