<!DOCTYPE html>
{% extends 'partials.html' %}

{% block content %}

    <main>

        <section class="py-5 text-center container bg-light">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Hello friends, I am Yuvant</h1>
                    <p class="lead text-muted">Software Engineer | Full-Stack Web developer | Gamer </p>
                    <p>
                        <a href="mailto:yuvantbesre@yahoo.com" class="btn btn-primary my-2">Email me!</a>
                    </p>
                </div>
            </div>
            <hr>
        </section>

      

        <div class="album py-5">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                    {% for project in projects.all %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{{ project.Image.url }}" alt="" height="200">

                            <div class="card-body">
                                <p class="card-text">{{ project.Summary }}</p>
                            </div>

                            <div class="container text-center pb-3" >

                                <a href="{{ project.GitHub }}" target="_blank">GitHub</a>

                            </div>
                            
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </main>

{% endblock %}